extends base

block content
  if errorMessage
    span= errorMessage
  form(method="POST")
    input(name="username", placeholder="Username", type="text", required)
    input(name="password", placeholder="Password", type="password", required)
    input(type="submit", value="Login")
    include partials/social-login
  .auth-switch
    //- prettier-ignore: because of a white space
    span Don't have an account? 
    a(href="/join") Create one now &rarr;
